# Python cache files
__pycache__/
*.py[cod]
.coverage
htmlcov/

# Virtual environment
.venv/
venv/

# Python packaging
build/
dist/
*.egg-info/

# macOS files
.DS_Store

# VS Code settings
.vscode/

# Project data
data/*.json
data/*.csv
data/*.xlsx
data/*.lock

# Generated reports
exports/*.xlsx

data/*.sqlite3
data/*.sqlite3-*
